@font-face {
  font-family: 'Comic Sans MS';
  src: url("./lib/assets/comicSansMs.ttf");
}

:root {
  font-family: "Comic Sans MS";

  color: rgba(172, 21, 177, 0.87);
  background-color: #242424;
}

html, 
body {
    height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./lib/assets/matrix.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

div.background {
  background-color: #242424ad;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#app {
  margin: 0;
  padding: 1rem;
  padding-bottom: 0px;
  text-align: center;
}

p {
  margin: 0;
  text-shadow: 1px 1px rgb(38, 218, 53);
}

h1 {
  margin: 1rem;
  text-shadow: 2px 2px rgb(38, 218, 53);
}